// html syntax
.syntax--html {

  .syntax--meta {

    &.syntax--tag.syntax--style,
    &.syntax--tag.syntax--script {

      & > .syntax--punctuation.syntax--definition.syntax--tag {
        color: @syntax-function-color;
      }
    }


    &.syntax--attribute-with-value {

      .syntax--string > .syntax--punctuation {
        color: @syntax-class-color;
      }
    }
  }

  .syntax--entity.syntax--name.syntax--tag {

    &.syntax--style,
    &.syntax--script {
      color: @syntax-function-color;
    }
  }

  .syntax--id > .syntax--string {
    color: @syntax-reserved-color;
  }

  .syntax--class > .syntax--string {
    color: @syntax-constant-color;
  }

  .syntax--punctuation.syntax--definition.syntax--tag {
    color: @syntax-entity-color;
  }

}
