.syntax--css,
.syntax--postcss,
.syntax--less,
.syntax--scss {

  .syntax--entity {

    &.syntax--other.syntax--attribute-name {

      &.syntax--class {
        color: @syntax-entity-other-color;
      }
      &.syntax--id {
        color: @syntax-reserved-color;
      }
    }
  }

  .syntax--variable {
    color: @syntax-storage-color;

    &.syntax--argument {
      color: @syntax-variable-color;
    }
  }
}
