/**
 *  THESE COLORS ARE SPECIFIC TO THE THEME.
 *  DO NOT USE IN A PACKAGE!
 */

// Colors
// Primary
@red-bg: hsl(345, 90%, 7%);
@red-fg: lighten(@red-bg, 55%);

@green-bg: spin(@red-bg, 120);
@green-fg: lighten(spin(@red-fg, 120), -27%);

@blue-bg: spin(@green-bg, 120);
@blue-fg: lighten(spin(@green-fg, 120), 33%);

// Secondary
@yellow-bg: spin(@red-bg, 60);
@yellow-fg: lighten(spin(@red-fg, 60), -24%);

@teal-bg: spin(@yellow-bg, 120);
@teal-fg: lighten(spin(@yellow-fg, 120), 5%);

@purple-bg: spin(@teal-bg, 120);
@purple-fg: lighten(spin(@teal-fg, 120), 25%);

// Tertiary
@orange-bg: spin(@red-bg, 30);
@orange-fg: lighten(spin(@red-fg, 30), -5%);
