/**
 *  THESE COLORS ARE SPECIFIC TO THE THEME.
 *  DO NOT USE IN A PACKAGE!
 */

// Colors
@red-bg: hsl(345, 80%, 5%);
@red-fg: lighten(@red-bg, 60%);

@green-bg: spin(@red-bg, 120);
@green-fg: spin(@red-fg, 120);

@blue-bg: spin(@green-bg, 120);
@blue-fg: spin(@green-fg, 120);

// Secondary
@yellow-bg: spin(@red-bg, 60);
@yellow-fg: spin(@red-fg, 60);

@teal-bg: spin(@yellow-bg, 120);
@teal-fg: spin(@yellow-fg, 120);

@purple-bg: spin(@teal-bg, 120);
@purple-fg: spin(@teal-fg, 120);

// Tertiary
@orange-bg: spin(@red-bg, 30);
@orange-fg: spin(@red-fg, 30);
