atom-text-editor {
  color: @syntax-text-color;
  letter-spacing: 0.2em;
  background-color: @syntax-background-color;

  .gutter-container {
    // border-right: solid 1px @syntax-gutter-border-color;
    background-color: @syntax-gutter-background-color;
  }

  .gutter {
    color: @syntax-gutter-text-color;
    background-color: @syntax-gutter-background-color;

    &.line-numbers {
      .line-number {
        max-height: 1.5em;
      }
    }

    .line-number {
      opacity: 1;
      height: 1.5em;

      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
      }

      &.foldable {
        .icon-right {
          cursor: pointer;
        }
      }

      &.folded {
        border-bottom: double 3px @syntax-gutter-border-color;
      }

      &.git-line-added {
        color: @syntax-color-added;
        background-color: @background-color-added;
      }

      &.git-line-modified {
        color: @syntax-color-modified;
        background-color: @background-color-modified;
      }

      &.git-line-removed {
        position: relative;

        &:before {
          position: absolute;
          top: auto !important;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          overflow-y: hidden;
          content: "";
          background-color: @syntax-color-removed;
        }
      }
    }
  }
  .lines {
    .cursor-line {
      background-color: lighten(@syntax-selection-color, 3%);
    }
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    border-right: dashed 1px @syntax-indent-guide-color;
    background-color: transparent;
  }

  .cursor {
    border-width: 2px;
    border-color: @syntax-cursor-color;
    border-radius: @syntax-border-radius;
    min-width: 0.75em !important;

    background-color: fade(@syntax-background-color, 75%);
    transform: translate3d(0, 0 ,0); /* Separate render layer, gets overiden by atom */
    will-change: opacity; /* Set this instead to force a new layer */
    transition: opacity 200ms ease;
  }

  .selection .region {
    border-radius: @syntax-border-radius;
    background-color: @syntax-selection-color;
  }

  .fold-marker::after {
    position: relative;
    z-index: 1;
    color: @syntax-invisible-character-color;
    content: "[Folded contents…]";
    font-family: inherit;
    font-size: 1em;
    cursor: cell;
  }

  .bracket-matcher .region {
    border-style: solid;
    border-width: 1px;
    border-color: @syntax-text-color;
    border-radius: @syntax-border-radius;
  }
}
