@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @yellow;
@syntax-background-color: @orange-bg;

@syntax-invisible-character-color: @yellow-fg;
@syntax-cursor-color: @syntax-text-color;
@syntax-selection-color: darken(@yellow-bg, 10%);

// Syntax base colors
@syntax-comment-color: @yellow-fg;
@syntax-constant-color: @teal-fg;
@syntax-keyword-color: @green-fg;
@syntax-string-color: @syntax-comment-color;
@syntax-reserved-color: @purple-fg;
@syntax-entity-color: @red-fg;
@syntax-function-color: @blue-fg;
@syntax-variable-color: @red-fg;
@syntax-class-color: @orange-fg;

// Guide colors
@syntax-wrap-guide-color: @yellow;
@syntax-indent-guide-color: @yellow;

// Sizes
@syntax-border-radius: 3px;

// For find and replace markers
@syntax-result-marker-color: @yellow;
@syntax-result-marker-color-selected: @blue;

// Gutter colors
@syntax-gutter-text-color: @syntax-text-color;
@syntax-gutter-text-color-selected: darken(@syntax-text-color, 5%);
@syntax-gutter-border-color: @yellow;
@syntax-gutter-background-color: darken(@syntax-background-color, 3%);
@syntax-gutter-background-color-selected: @syntax-selection-color;

// State coloring
@syntax-color-info: @blue-fg;
@syntax-color-success: @green-fg;
@syntax-color-warning: @orange-fg;
@syntax-color-error: @red-fg;


// For git diff info. i.e. in the gutter
@syntax-color-renamed: @syntax-color-info;
@syntax-color-added: @syntax-color-success;
@syntax-color-modified: @syntax-color-info;
@syntax-color-removed: @syntax-color-error;
